@use 'src/styles/vars';

.pageContainerServices {
      height: 100%;
}

.slider {
    background: vars.$background / cover no-repeat url('https://images.pexels.com/photos/3184306/pexels-photo-3184306.jpeg?cs=srgb&dl=pexels-fauxels-3184306.jpg&fm=jpg');
    max-width: 70vw;
    height: 60vh;
    margin: 3em auto 0;
    position: relative;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    padding: 2em;
    border-radius: 5px;

    &_slide {
            width: 95%;
            height: 100%;
            position: absolute;
            opacity: 0;
            transition: opacity ease-in-out 0.4s;

        &--active {
            opacity: 1;
        }

        &--title {
            color: vars.$color-darkblue;
            margin: 1.5em 0;
            font-size: 2.5em;
        }

        &--content {
            font-size: 1.5em;

        }
    }

    &_buttons {
        display:flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        color: vars.$color-grayblue;
        position: absolute;
        bottom: 0px;
        &--button {
            color: vars.$color-grayblue;
            font-size: 1em;
            width: 8em;
            margin: 0.5em 5em;
            border-radius: 5px;
            padding: 0.5em 0.5em;
            border: 1px solid transparent;
            font-family: inherit;
            &:hover {
                    border-color: vars.$color-grayblue;
                    transform: scale(1.1);
                    box-shadow: 1em 0.5em 0.5em vars.$color-gray;
                }
            &:focus-visible {
                outline: 4px auto -webkit-focus-ring-color;
            }
        }
    }
    &_dots {
        transform: translateX(-50%);
        display: flex;
        color: vars.$color-gray;

    .dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid vars.$color-grayblue;
    margin: 0 5px;
    background: vars.$color-grayblue;

        &--active {
            background: vars.$color-darkblue;
            border-color: vars.$color-darkblue;
            transform: scale(1.1);
        }
    }

}


        
}



