@use 'src/styles/vars';

.hidden {
    display: none;
}

.contactForm {
    max-width: 70vw;
    height: 60vh;
    margin: 3em auto 0;
    background: vars.$background / cover no-repeat url('https://images.pexels.com/photos/4963445/pexels-photo-4963445.jpeg?cs=srgb&dl=pexels-ketut-subiyanto-4963445.jpg&fm=jpg');
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    padding: 2em;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0 auto;
}

label {
    color: vars.$color-darkblue;
    margin-bottom: 0.2em;
    font-size: 1.5em;
    font-weight: 700;
}

input {
    margin: 1em 0;
    width: 20em;
    height: 2em;
    border: none;
    border-radius: 0.3em;
}

textarea {
    margin-top: 0.8em;
    height: 10em;
    width: 20em;
    border: none;
    border-radius: 0.3em;
    resize: none;
}

.button {
    margin: 4em auto;
    width: 8em;
}