$color-darkblue: #16354D;
$color-grayblue: #6B99C3;
$color-gray: #D2D2D4;
$color-lightgray: #E4E5EA;
$color-dark: #0C151C;

$background: linear-gradient( rgba(228, 229, 234, 0.8), rgba(228, 229, 234, 0.8)), center
