@use 'src/styles/vars';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: vars.$background;

    &_buttons {
        margin: 0 auto;
        
        &--button {
            margin: 0 1em;
            width: 10em;
            padding: 1em 0;
        }
    }
}