@use 'src/styles/vars';

.pageContainerCalendar {
    background: vars.$background / cover no-repeat url('https://images.pexels.com/photos/415071/pexels-photo-415071.jpeg?cs=srgb&dl=pexels-pixabay-415071.jpg&fm=jpg');
    display: flex;
    flex-grow: 1;
}

.calendar {
    border: none;
    min-width: 60vw;
    min-height: 60vh;
    margin: 4em auto;
}